.particlesBg {
	position: fixed;
	height: 100%;
	z-index: -12;
}

.particles {
	position: fixed;
	height: 100%;
	z-index: -11;
}

.stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 1711px 345px #98bfff, 257px 1105px #98bfff, 1764px 877px #98bfff,
		1232px 1103px #98bfff, 645px 869px #98bfff, 1089px 1523px #98bfff,
		814px 44px #98bfff, 893px 1165px #98bfff, 461px 1996px #98bfff,
		1458px 1483px #98bfff, 1649px 400px #98bfff, 994px 1895px #98bfff,
		256px 1723px #98bfff, 1800px 1184px #98bfff, 1895px 1439px #98bfff,
		1139px 660px #98bfff, 1939px 1408px #98bfff, 511px 745px #98bfff,
		1147px 1419px #98bfff, 703px 583px #98bfff, 1392px 430px #98bfff,
		341px 421px #98bfff, 1613px 1673px #98bfff, 1971px 341px #98bfff,
		11px 1094px #98bfff, 57px 44px #98bfff, 1996px 848px #98bfff,
		1931px 117px #98bfff, 767px 1039px #98bfff, 599px 1734px #98bfff,
		310px 1695px #98bfff, 1876px 792px #98bfff, 1267px 1455px #98bfff,
		678px 301px #98bfff, 289px 922px #98bfff, 1505px 846px #98bfff,
		1665px 4px #98bfff, 1934px 1018px #98bfff, 1512px 505px #98bfff,
		585px 1813px #98bfff, 660px 830px #98bfff, 195px 461px #98bfff,
		1703px 202px #98bfff, 462px 1137px #98bfff, 1419px 431px #98bfff,
		242px 1459px #98bfff, 1402px 1077px #98bfff, 1660px 382px #98bfff,
		1277px 1608px #98bfff, 607px 1317px #98bfff, 1758px 464px #98bfff,
		1845px 615px #98bfff, 1705px 1248px #98bfff, 1209px 758px #98bfff,
		1809px 645px #98bfff, 1236px 1364px #98bfff, 1846px 935px #98bfff,
		1509px 1491px #98bfff, 14px 63px #98bfff, 790px 405px #98bfff,
		1001px 1346px #98bfff, 637px 707px #98bfff, 1152px 827px #98bfff,
		78px 643px #98bfff, 246px 1263px #98bfff, 1549px 981px #98bfff,
		745px 1217px #98bfff, 247px 80px #98bfff, 1198px 750px #98bfff,
		342px 650px #98bfff, 595px 769px #98bfff, 952px 1302px #98bfff,
		161px 1862px #98bfff, 473px 892px #98bfff, 1809px 1655px #98bfff,
		1881px 1648px #98bfff, 1993px 1038px #98bfff, 647px 1027px #98bfff,
		330px 371px #98bfff, 1948px 1074px #98bfff, 1826px 503px #98bfff,
		543px 115px #98bfff, 1672px 426px #98bfff, 228px 1423px #98bfff,
		56px 568px #98bfff, 1919px 1124px #98bfff, 186px 271px #98bfff,
		1550px 479px #98bfff, 475px 1752px #98bfff, 1803px 1914px #98bfff,
		129px 455px #98bfff, 1335px 1289px #98bfff, 390px 53px #98bfff,
		531px 1307px #98bfff, 1055px 929px #98bfff, 733px 1751px #98bfff,
		1366px 1848px #98bfff, 672px 753px #98bfff, 1137px 189px #98bfff,
		1645px 1455px #98bfff, 1123px 726px #98bfff, 860px 1909px #98bfff,
		258px 1053px #98bfff, 706px 1875px #98bfff, 1968px 112px #98bfff,
		1628px 807px #98bfff, 849px 1250px #98bfff, 283px 1962px #98bfff,
		156px 483px #98bfff, 1899px 801px #98bfff, 516px 1889px #98bfff,
		1032px 1824px #98bfff, 718px 1913px #98bfff, 143px 1509px #98bfff,
		495px 482px #98bfff, 1963px 1201px #98bfff, 176px 1580px #98bfff,
		1975px 374px #98bfff, 485px 1409px #98bfff, 1396px 459px #98bfff,
		1399px 943px #98bfff, 238px 710px #98bfff, 1850px 711px #98bfff,
		26px 1143px #98bfff, 825px 892px #98bfff, 561px 488px #98bfff,
		1205px 1735px #98bfff, 48px 781px #98bfff, 678px 600px #98bfff,
		1414px 1810px #98bfff, 455px 1606px #98bfff, 1935px 57px #98bfff,
		226px 668px #98bfff, 1997px 503px #98bfff, 94px 391px #98bfff,
		619px 915px #98bfff, 1873px 767px #98bfff, 1985px 234px #98bfff,
		637px 481px #98bfff, 1748px 591px #98bfff, 1498px 148px #98bfff,
		1429px 866px #98bfff, 567px 757px #98bfff, 1886px 718px #98bfff,
		1108px 1654px #98bfff, 434px 1157px #98bfff, 1482px 1677px #98bfff,
		1877px 1386px #98bfff, 1535px 398px #98bfff, 419px 1451px #98bfff,
		1764px 839px #98bfff, 1822px 147px #98bfff, 446px 712px #98bfff,
		1576px 598px #98bfff, 479px 1032px #98bfff, 320px 346px #98bfff,
		1415px 544px #98bfff, 1921px 1750px #98bfff, 1541px 863px #98bfff,
		1864px 1428px #98bfff, 1737px 352px #98bfff, 1699px 522px #98bfff,
		1481px 548px #98bfff, 307px 11px #98bfff, 6px 643px #98bfff,
		838px 5px #98bfff, 1407px 951px #98bfff, 1329px 1415px #98bfff,
		748px 1244px #98bfff, 1447px 786px #98bfff, 1142px 1994px #98bfff,
		1137px 1164px #98bfff, 528px 1809px #98bfff, 1482px 149px #98bfff,
		577px 238px #98bfff, 1610px 1334px #98bfff, 1686px 1711px #98bfff,
		208px 116px #98bfff, 1727px 1105px #98bfff, 829px 1292px #98bfff,
		1521px 85px #98bfff, 1900px 1023px #98bfff, 1982px 1832px #98bfff,
		715px 536px #98bfff, 1704px 760px #98bfff, 1388px 1506px #98bfff,
		676px 705px #98bfff, 858px 64px #98bfff, 926px 1942px #98bfff,
		1210px 1698px #98bfff, 603px 1372px #98bfff, 1175px 1463px #98bfff,
		1418px 1567px #98bfff, 288px 906px #98bfff, 672px 669px #98bfff,
		934px 1286px #98bfff, 1815px 1744px #98bfff, 565px 1499px #98bfff,
		324px 1973px #98bfff, 1772px 771px #98bfff, 1253px 392px #98bfff,
		485px 11px #98bfff, 1372px 1442px #98bfff, 1456px 1139px #98bfff,
		93px 141px #98bfff, 1351px 1789px #98bfff, 1404px 302px #98bfff,
		346px 1164px #98bfff, 1177px 121px #98bfff, 1202px 506px #98bfff,
		1509px 268px #98bfff, 616px 255px #98bfff, 166px 424px #98bfff,
		331px 292px #98bfff, 1331px 708px #98bfff, 1418px 1585px #98bfff,
		284px 1847px #98bfff, 188px 401px #98bfff, 795px 1987px #98bfff,
		1356px 693px #98bfff, 658px 1302px #98bfff, 169px 652px #98bfff,
		1914px 745px #98bfff, 1661px 1572px #98bfff, 689px 1389px #98bfff,
		1286px 96px #98bfff, 1766px 194px #98bfff, 836px 1102px #98bfff,
		736px 1789px #98bfff, 1030px 438px #98bfff, 1682px 984px #98bfff,
		1464px 360px #98bfff, 1737px 1202px #98bfff, 73px 1806px #98bfff,
		1516px 1672px #98bfff, 262px 1096px #98bfff, 694px 562px #98bfff,
		132px 1833px #98bfff, 1223px 1110px #98bfff, 1272px 1098px #98bfff,
		1761px 1627px #98bfff, 366px 1099px #98bfff, 216px 1638px #98bfff,
		445px 1825px #98bfff, 200px 1978px #98bfff, 124px 600px #98bfff,
		1007px 926px #98bfff, 1428px 329px #98bfff, 498px 290px #98bfff,
		429px 1538px #98bfff, 855px 421px #98bfff, 861px 84px #98bfff,
		553px 1878px #98bfff, 62px 1948px #98bfff, 403px 1588px #98bfff,
		54px 909px #98bfff, 1819px 1145px #98bfff, 1118px 122px #98bfff,
		1523px 1495px #98bfff, 540px 610px #98bfff, 972px 1962px #98bfff,
		1940px 1639px #98bfff, 511px 1445px #98bfff, 1946px 587px #98bfff,
		521px 1333px #98bfff, 726px 586px #98bfff, 894px 512px #98bfff,
		1181px 711px #98bfff, 1989px 1522px #98bfff, 535px 70px #98bfff,
		1212px 1797px #98bfff, 517px 1768px #98bfff, 1895px 1241px #98bfff,
		1510px 64px #98bfff, 1457px 52px #98bfff, 1806px 1301px #98bfff,
		1208px 1595px #98bfff, 91px 716px #98bfff, 1232px 1932px #98bfff,
		110px 965px #98bfff, 685px 136px #98bfff, 1628px 1511px #98bfff,
		1740px 844px #98bfff, 583px 289px #98bfff, 937px 496px #98bfff,
		903px 116px #98bfff, 1061px 1102px #98bfff, 1729px 1328px #98bfff,
		1900px 778px #98bfff, 1591px 686px #98bfff, 1892px 770px #98bfff,
		1245px 980px #98bfff, 1617px 757px #98bfff, 1405px 545px #98bfff,
		1643px 1684px #98bfff, 305px 599px #98bfff, 545px 1833px #98bfff,
		696px 357px #98bfff, 1287px 1027px #98bfff, 753px 1278px #98bfff,
		1553px 71px #98bfff, 1620px 1980px #98bfff, 160px 1940px #98bfff,
		1500px 210px #98bfff, 1893px 78px #98bfff, 125px 1075px #98bfff,
		493px 1293px #98bfff, 1933px 84px #98bfff, 1241px 1655px #98bfff,
		1706px 1626px #98bfff, 1538px 882px #98bfff, 977px 353px #98bfff,
		807px 1757px #98bfff, 341px 140px #98bfff, 1182px 1113px #98bfff,
		1317px 334px #98bfff, 76px 1568px #98bfff, 1282px 312px #98bfff,
		1966px 1529px #98bfff, 314px 1758px #98bfff, 1182px 739px #98bfff,
		1704px 39px #98bfff, 552px 437px #98bfff, 955px 144px #98bfff,
		1763px 825px #98bfff, 63px 1355px #98bfff, 1431px 914px #98bfff,
		98px 1280px #98bfff, 1469px 752px #98bfff, 640px 124px #98bfff,
		1265px 1037px #98bfff, 1054px 1215px #98bfff, 1031px 654px #98bfff,
		1404px 195px #98bfff, 471px 928px #98bfff, 1029px 1338px #98bfff,
		411px 1912px #98bfff, 910px 1590px #98bfff, 1100px 1958px #98bfff,
		1616px 281px #98bfff, 657px 184px #98bfff, 482px 274px #98bfff,
		951px 1180px #98bfff, 1012px 1615px #98bfff, 593px 1546px #98bfff,
		1507px 1618px #98bfff, 1545px 345px #98bfff, 921px 1273px #98bfff,
		1285px 502px #98bfff, 1661px 1987px #98bfff, 830px 403px #98bfff,
		780px 239px #98bfff, 1493px 443px #98bfff, 818px 1549px #98bfff,
		1254px 562px #98bfff, 986px 868px #98bfff, 892px 583px #98bfff,
		1564px 440px #98bfff, 23px 1357px #98bfff, 21px 1454px #98bfff,
		967px 1856px #98bfff, 973px 263px #98bfff, 443px 777px #98bfff,
		1045px 1587px #98bfff, 995px 1271px #98bfff, 1352px 1551px #98bfff,
		1330px 704px #98bfff, 601px 1887px #98bfff, 284px 1290px #98bfff,
		1206px 571px #98bfff, 327px 1170px #98bfff, 222px 1934px #98bfff,
		310px 1928px #98bfff, 1090px 1900px #98bfff, 1773px 1239px #98bfff,
		967px 1054px #98bfff, 710px 624px #98bfff, 694px 464px #98bfff,
		559px 1892px #98bfff, 1411px 1000px #98bfff, 1139px 760px #98bfff,
		927px 1781px #98bfff, 992px 1143px #98bfff, 1007px 169px #98bfff,
		1182px 1896px #98bfff, 845px 586px #98bfff, 833px 1231px #98bfff,
		1487px 274px #98bfff, 1296px 1800px #98bfff, 174px 1510px #98bfff,
		1266px 1019px #98bfff, 822px 1295px #98bfff, 695px 1230px #98bfff,
		1956px 243px #98bfff, 1345px 185px #98bfff, 1621px 1081px #98bfff,
		69px 1500px #98bfff, 342px 7px #98bfff, 685px 752px #98bfff,
		1942px 1393px #98bfff, 1859px 865px #98bfff, 1783px 391px #98bfff,
		913px 1205px #98bfff, 1831px 1222px #98bfff, 70px 1426px #98bfff,
		1321px 1053px #98bfff, 397px 1953px #98bfff, 556px 982px #98bfff,
		1331px 366px #98bfff, 1340px 1871px #98bfff, 1153px 1889px #98bfff,
		1626px 818px #98bfff, 1626px 1542px #98bfff, 1337px 447px #98bfff,
		125px 615px #98bfff, 1px 321px #98bfff, 1377px 982px #98bfff,
		1235px 1651px #98bfff, 1830px 1963px #98bfff, 738px 425px #98bfff,
		1816px 1035px #98bfff, 81px 842px #98bfff, 1513px 481px #98bfff,
		460px 226px #98bfff, 412px 175px #98bfff, 196px 392px #98bfff,
		1652px 1449px #98bfff, 969px 574px #98bfff, 1329px 384px #98bfff,
		1129px 1204px #98bfff, 1131px 1566px #98bfff, 1481px 467px #98bfff,
		1020px 455px #98bfff, 20px 381px #98bfff, 252px 1320px #98bfff,
		1574px 399px #98bfff, 1091px 727px #98bfff, 276px 1998px #98bfff,
		1709px 1563px #98bfff, 856px 1486px #98bfff, 992px 694px #98bfff,
		1433px 211px #98bfff, 580px 857px #98bfff, 485px 718px #98bfff,
		1287px 1941px #98bfff, 1839px 137px #98bfff, 667px 1234px #98bfff,
		138px 950px #98bfff, 1528px 1764px #98bfff, 728px 1257px #98bfff,
		1145px 1458px #98bfff, 1085px 74px #98bfff, 1580px 382px #98bfff,
		270px 1022px #98bfff, 617px 1838px #98bfff, 1533px 633px #98bfff,
		1128px 1890px #98bfff, 278px 1038px #98bfff, 87px 1608px #98bfff,
		34px 668px #98bfff, 1012px 1844px #98bfff, 1768px 1376px #98bfff,
		1342px 597px #98bfff, 1475px 664px #98bfff, 1361px 320px #98bfff,
		364px 925px #98bfff, 131px 329px #98bfff, 538px 855px #98bfff,
		458px 70px #98bfff, 1700px 1934px #98bfff, 356px 405px #98bfff,
		688px 1802px #98bfff, 862px 1756px #98bfff, 698px 1911px #98bfff,
		1566px 404px #98bfff, 1403px 1976px #98bfff, 652px 709px #98bfff,
		873px 1267px #98bfff, 1124px 243px #98bfff, 959px 286px #98bfff,
		1391px 1095px #98bfff, 595px 936px #98bfff, 48px 1285px #98bfff,
		904px 115px #98bfff, 1683px 1785px #98bfff, 938px 1137px #98bfff,
		806px 266px #98bfff, 643px 1061px #98bfff, 527px 560px #98bfff,
		302px 296px #98bfff, 416px 390px #98bfff, 993px 185px #98bfff,
		459px 1863px #98bfff, 1471px 75px #98bfff, 1845px 1972px #98bfff,
		1077px 650px #98bfff, 549px 1219px #98bfff, 363px 1332px #98bfff,
		1804px 1933px #98bfff, 948px 511px #98bfff, 215px 1339px #98bfff,
		579px 1947px #98bfff, 564px 1738px #98bfff, 1509px 300px #98bfff,
		1668px 1777px #98bfff, 158px 1629px #98bfff, 716px 1686px #98bfff,
		584px 1677px #98bfff, 821px 1485px #98bfff, 1337px 1374px #98bfff,
		605px 885px #98bfff, 1774px 1218px #98bfff, 1932px 1860px #98bfff,
		1399px 116px #98bfff, 613px 31px #98bfff, 1178px 455px #98bfff,
		572px 1833px #98bfff, 238px 436px #98bfff, 81px 1705px #98bfff,
		1876px 1996px #98bfff, 1730px 169px #98bfff, 1542px 1584px #98bfff,
		245px 1728px #98bfff, 1510px 274px #98bfff, 283px 1951px #98bfff,
		1151px 1046px #98bfff, 1450px 1088px #98bfff, 563px 30px #98bfff,
		18px 370px #98bfff, 1806px 1110px #98bfff, 1432px 124px #98bfff,
		1755px 889px #98bfff, 1940px 333px #98bfff, 565px 276px #98bfff,
		191px 1578px #98bfff, 1652px 1037px #98bfff, 1173px 946px #98bfff,
		58px 1752px #98bfff, 857px 343px #98bfff, 197px 1783px #98bfff,
		434px 1659px #98bfff, 1009px 1223px #98bfff, 1312px 682px #98bfff,
		878px 296px #98bfff, 1170px 1482px #98bfff, 476px 216px #98bfff,
		1569px 1619px #98bfff, 708px 1919px #98bfff, 911px 343px #98bfff,
		525px 468px #98bfff, 1973px 316px #98bfff, 700px 538px #98bfff,
		1963px 344px #98bfff, 1297px 1285px #98bfff, 1839px 1470px #98bfff,
		1534px 497px #98bfff, 1466px 1182px #98bfff, 1123px 421px #98bfff,
		1447px 1282px #98bfff, 1279px 1480px #98bfff, 1933px 105px #98bfff,
		658px 1929px #98bfff, 1958px 1475px #98bfff, 1793px 1311px #98bfff,
		1847px 1964px #98bfff, 1292px 62px #98bfff, 1331px 524px #98bfff,
		1444px 416px #98bfff, 4px 186px #98bfff, 1399px 41px #98bfff,
		535px 1999px #98bfff, 564px 1859px #98bfff, 1288px 309px #98bfff,
		863px 1579px #98bfff, 1924px 602px #98bfff, 1711px 11px #98bfff,
		1885px 1905px #98bfff, 1386px 55px #98bfff, 1294px 928px #98bfff,
		1344px 69px #98bfff, 1475px 489px #98bfff, 1464px 1551px #98bfff,
		625px 1262px #98bfff, 10px 498px #98bfff, 824px 407px #98bfff,
		1075px 1693px #98bfff, 835px 1px #98bfff, 38px 108px #98bfff,
		299px 1076px #98bfff, 206px 836px #98bfff, 515px 1750px #98bfff,
		1390px 715px #98bfff, 1141px 924px #98bfff, 1080px 1965px #98bfff,
		148px 458px #98bfff, 48px 1559px #98bfff, 225px 1475px #98bfff,
		114px 1162px #98bfff, 519px 268px #98bfff, 869px 218px #98bfff,
		1789px 651px #98bfff, 1318px 1836px #98bfff, 1782px 1941px #98bfff,
		1454px 857px #98bfff, 1320px 317px #98bfff, 1033px 715px #98bfff,
		1353px 1001px #98bfff, 1350px 439px #98bfff, 1285px 1224px #98bfff,
		1430px 25px #98bfff, 744px 372px #98bfff, 349px 1176px #98bfff,
		736px 192px #98bfff, 854px 1671px #98bfff, 945px 1868px #98bfff,
		1039px 573px #98bfff, 863px 441px #98bfff, 756px 543px #98bfff,
		336px 359px #98bfff, 1551px 536px #98bfff, 470px 558px #98bfff,
		736px 1546px #98bfff, 1054px 1686px #98bfff, 999px 408px #98bfff,
		448px 1105px #98bfff, 61px 1557px #98bfff, 1795px 1819px #98bfff,
		741px 1255px #98bfff, 1667px 559px #98bfff, 925px 349px #98bfff,
		1817px 1695px #98bfff, 1983px 101px #98bfff, 1256px 701px #98bfff,
		126px 1861px #98bfff, 550px 1649px #98bfff, 1807px 1778px #98bfff,
		298px 1761px #98bfff, 594px 1596px #98bfff, 1964px 651px #98bfff,
		429px 1889px #98bfff, 1574px 1368px #98bfff, 623px 104px #98bfff,
		1686px 436px #98bfff, 793px 50px #98bfff, 860px 598px #98bfff,
		600px 1831px #98bfff;
}

.stars:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 1711px 345px #98bfff, 257px 1105px #98bfff, 1764px 877px #98bfff,
		1232px 1103px #98bfff, 645px 869px #98bfff, 1089px 1523px #98bfff,
		814px 44px #98bfff, 893px 1165px #98bfff, 461px 1996px #98bfff,
		1458px 1483px #98bfff, 1649px 400px #98bfff, 994px 1895px #98bfff,
		256px 1723px #98bfff, 1800px 1184px #98bfff, 1895px 1439px #98bfff,
		1139px 660px #98bfff, 1939px 1408px #98bfff, 511px 745px #98bfff,
		1147px 1419px #98bfff, 703px 583px #98bfff, 1392px 430px #98bfff,
		341px 421px #98bfff, 1613px 1673px #98bfff, 1971px 341px #98bfff,
		11px 1094px #98bfff, 57px 44px #98bfff, 1996px 848px #98bfff,
		1931px 117px #98bfff, 767px 1039px #98bfff, 599px 1734px #98bfff,
		310px 1695px #98bfff, 1876px 792px #98bfff, 1267px 1455px #98bfff,
		1016px 670px #98bfff, 817px 204px #98bfff, 1783px 1362px #98bfff,
		1441px 838px #98bfff, 931px 1238px #98bfff, 290px 1404px #98bfff,
		1001px 1346px #98bfff, 637px 707px #98bfff, 1152px 827px #98bfff,
		1628px 807px #98bfff, 849px 1250px #98bfff, 283px 1962px #98bfff,
		156px 483px #98bfff, 1899px 801px #98bfff, 516px 1889px #98bfff,
		1032px 1824px #98bfff, 718px 1913px #98bfff, 143px 1509px #98bfff,
		495px 482px #98bfff, 1963px 1201px #98bfff, 176px 1580px #98bfff,
		1975px 374px #98bfff, 485px 1409px #98bfff, 1396px 459px #98bfff,
		1399px 943px #98bfff, 238px 710px #98bfff, 1850px 711px #98bfff,
		26px 1143px #98bfff, 825px 892px #98bfff, 561px 488px #98bfff,
		1205px 1735px #98bfff, 48px 781px #98bfff, 678px 600px #98bfff,
		1414px 1810px #98bfff, 455px 1606px #98bfff, 1935px 57px #98bfff,
		226px 668px #98bfff, 1997px 503px #98bfff, 94px 391px #98bfff,
		619px 915px #98bfff, 1873px 767px #98bfff, 1985px 234px #98bfff,
		637px 481px #98bfff, 1748px 591px #98bfff, 1498px 148px #98bfff,
		1429px 866px #98bfff, 567px 757px #98bfff, 1886px 718px #98bfff,
		1108px 1654px #98bfff, 434px 1157px #98bfff, 1482px 1677px #98bfff,
		1877px 1386px #98bfff, 1535px 398px #98bfff, 419px 1451px #98bfff,
		1764px 839px #98bfff, 1822px 147px #98bfff, 446px 712px #98bfff,
		1576px 598px #98bfff, 479px 1032px #98bfff, 320px 346px #98bfff,
		1415px 544px #98bfff, 1921px 1750px #98bfff, 1541px 863px #98bfff,
		1864px 1428px #98bfff, 1737px 352px #98bfff, 1699px 522px #98bfff,
		1481px 548px #98bfff, 307px 11px #98bfff, 6px 643px #98bfff,
		838px 5px #98bfff, 1407px 951px #98bfff, 1329px 1415px #98bfff,
		748px 1244px #98bfff, 1447px 786px #98bfff, 1142px 1994px #98bfff,
		1137px 1164px #98bfff, 528px 1809px #98bfff, 1482px 149px #98bfff,
		577px 238px #98bfff, 1610px 1334px #98bfff, 1686px 1711px #98bfff,
		208px 116px #98bfff, 1727px 1105px #98bfff, 829px 1292px #98bfff,
		1521px 85px #98bfff, 1900px 1023px #98bfff, 1982px 1832px #98bfff,
		715px 536px #98bfff, 1704px 760px #98bfff, 1388px 1506px #98bfff,
		676px 705px #98bfff, 858px 64px #98bfff, 926px 1942px #98bfff,
		1210px 1698px #98bfff, 603px 1372px #98bfff, 1175px 1463px #98bfff,
		1418px 1567px #98bfff, 288px 906px #98bfff, 672px 669px #98bfff,
		934px 1286px #98bfff, 1815px 1744px #98bfff, 565px 1499px #98bfff,
		324px 1973px #98bfff, 1772px 771px #98bfff, 1253px 392px #98bfff,
		736px 1789px #98bfff, 1030px 438px #98bfff, 1682px 984px #98bfff,
		1464px 360px #98bfff, 1737px 1202px #98bfff, 73px 1806px #98bfff,
		1516px 1672px #98bfff, 262px 1096px #98bfff, 694px 562px #98bfff,
		132px 1833px #98bfff, 1223px 1110px #98bfff, 1272px 1098px #98bfff,
		1761px 1627px #98bfff, 366px 1099px #98bfff, 216px 1638px #98bfff,
		445px 1825px #98bfff, 200px 1978px #98bfff, 124px 600px #98bfff,
		1007px 926px #98bfff, 1428px 329px #98bfff, 498px 290px #98bfff,
		429px 1538px #98bfff, 855px 421px #98bfff, 861px 84px #98bfff,
		553px 1878px #98bfff, 62px 1948px #98bfff, 403px 1588px #98bfff,
		54px 909px #98bfff, 1819px 1145px #98bfff, 1118px 122px #98bfff,
		1523px 1495px #98bfff, 540px 610px #98bfff, 972px 1962px #98bfff,
		1940px 1639px #98bfff, 511px 1445px #98bfff, 1946px 587px #98bfff,
		521px 1333px #98bfff, 726px 586px #98bfff, 894px 512px #98bfff,
		1181px 711px #98bfff, 1989px 1522px #98bfff, 535px 70px #98bfff,
		1212px 1797px #98bfff, 517px 1768px #98bfff, 1895px 1241px #98bfff,
		1510px 64px #98bfff, 1457px 52px #98bfff, 1806px 1301px #98bfff,
		1208px 1595px #98bfff, 91px 716px #98bfff, 1232px 1932px #98bfff,
		110px 965px #98bfff, 685px 136px #98bfff, 1628px 1511px #98bfff,
		1740px 844px #98bfff, 583px 289px #98bfff, 937px 496px #98bfff,
		903px 116px #98bfff, 1061px 1102px #98bfff, 1729px 1328px #98bfff,
		1900px 778px #98bfff, 1591px 686px #98bfff, 1892px 770px #98bfff,
		1245px 980px #98bfff, 1617px 757px #98bfff, 1405px 545px #98bfff,
		1643px 1684px #98bfff, 305px 599px #98bfff, 545px 1833px #98bfff,
		696px 357px #98bfff, 1287px 1027px #98bfff, 753px 1278px #98bfff,
		1553px 71px #98bfff, 1620px 1980px #98bfff, 160px 1940px #98bfff,
		1500px 210px #98bfff, 1893px 78px #98bfff, 125px 1075px #98bfff,
		493px 1293px #98bfff, 1933px 84px #98bfff, 1241px 1655px #98bfff,
		1706px 1626px #98bfff, 1538px 882px #98bfff, 977px 353px #98bfff,
		807px 1757px #98bfff, 341px 140px #98bfff, 1182px 1113px #98bfff,
		1317px 334px #98bfff, 76px 1568px #98bfff, 1282px 312px #98bfff,
		1966px 1529px #98bfff, 314px 1758px #98bfff, 1182px 739px #98bfff,
		1704px 39px #98bfff, 552px 437px #98bfff, 955px 144px #98bfff,
		1763px 825px #98bfff, 63px 1355px #98bfff, 1431px 914px #98bfff,
		98px 1280px #98bfff, 1469px 752px #98bfff, 640px 124px #98bfff,
		1265px 1037px #98bfff, 1054px 1215px #98bfff, 1031px 654px #98bfff,
		927px 1781px #98bfff, 992px 1143px #98bfff, 1007px 169px #98bfff,
		1182px 1896px #98bfff, 845px 586px #98bfff, 833px 1231px #98bfff,
		1487px 274px #98bfff, 1296px 1800px #98bfff, 174px 1510px #98bfff,
		1266px 1019px #98bfff, 822px 1295px #98bfff, 695px 1230px #98bfff,
		1956px 243px #98bfff, 1345px 185px #98bfff, 1621px 1081px #98bfff,
		69px 1500px #98bfff, 342px 7px #98bfff, 685px 752px #98bfff,
		1942px 1393px #98bfff, 1859px 865px #98bfff, 1783px 391px #98bfff,
		913px 1205px #98bfff, 1831px 1222px #98bfff, 70px 1426px #98bfff,
		1321px 1053px #98bfff, 397px 1953px #98bfff, 556px 982px #98bfff,
		1331px 366px #98bfff, 1340px 1871px #98bfff, 1153px 1889px #98bfff,
		1626px 818px #98bfff, 1626px 1542px #98bfff, 1337px 447px #98bfff,
		125px 615px #98bfff, 1px 321px #98bfff, 1377px 982px #98bfff,
		1235px 1651px #98bfff, 1830px 1963px #98bfff, 738px 425px #98bfff,
		1816px 1035px #98bfff, 81px 842px #98bfff, 1513px 481px #98bfff,
		460px 226px #98bfff, 412px 175px #98bfff, 196px 392px #98bfff,
		1652px 1449px #98bfff, 969px 574px #98bfff, 1329px 384px #98bfff,
		1129px 1204px #98bfff, 1131px 1566px #98bfff, 1481px 467px #98bfff,
		1020px 455px #98bfff, 20px 381px #98bfff, 252px 1320px #98bfff,
		1574px 399px #98bfff, 1091px 727px #98bfff, 276px 1998px #98bfff,
		1709px 1563px #98bfff, 856px 1486px #98bfff, 992px 694px #98bfff,
		1433px 211px #98bfff, 580px 857px #98bfff, 485px 718px #98bfff,
		1287px 1941px #98bfff, 1839px 137px #98bfff, 667px 1234px #98bfff,
		13 1077px 650px #98bfff, 549px 1219px #98bfff, 363px 1332px #98bfff,
		1804px 1933px #98bfff, 948px 511px #98bfff, 215px 1339px #98bfff,
		579px 1947px #98bfff, 564px 1738px #98bfff, 1509px 300px #98bfff,
		1668px 1777px #98bfff, 158px 1629px #98bfff, 716px 1686px #98bfff,
		584px 1677px #98bfff, 821px 1485px #98bfff, 1337px 1374px #98bfff,
		605px 885px #98bfff, 1774px 1218px #98bfff, 1932px 1860px #98bfff,
		1399px 116px #98bfff, 613px 31px #98bfff, 1178px 455px #98bfff,
		572px 1833px #98bfff, 238px 436px #98bfff, 81px 1705px #98bfff,
		1876px 1996px #98bfff, 1730px 169px #98bfff, 1542px 1584px #98bfff,
		245px 1728px #98bfff, 1510px 274px #98bfff, 283px 1951px #98bfff,
		1151px 1046px #98bfff, 1450px 1088px #98bfff, 563px 30px #98bfff,
		18px 370px #98bfff, 1806px 1110px #98bfff, 1432px 124px #98bfff,
		1755px 889px #98bfff, 1940px 333px #98bfff, 565px 276px #98bfff,
		191px 1578px #98bfff, 1652px 1037px #98bfff, 1173px 946px #98bfff,
		58px 1752px #98bfff, 857px 343px #98bfff, 197px 1783px #98bfff,
		434px 1659px #98bfff, 1009px 1223px #98bfff, 1312px 682px #98bfff,
		878px 296px #98bfff, 1170px 1482px #98bfff, 476px 216px #98bfff,
		1569px 1619px #98bfff, 708px 1919px #98bfff, 911px 343px #98bfff,
		525px 468px #98bfff, 1973px 316px #98bfff, 700px 538px #98bfff,
		1963px 344px #98bfff, 1297px 1285px #98bfff, 1839px 1470px #98bfff,
		1534px 497px #98bfff, 1466px 1182px #98bfff, 1123px 421px #98bfff,
		1447px 1282px #98bfff, 1279px 1480px #98bfff, 1933px 105px #98bfff,
		658px 1929px #98bfff, 1958px 1475px #98bfff, 1793px 1311px #98bfff,
		1847px 1964px #98bfff, 1292px 62px #98bfff, 1331px 524px #98bfff,
		1444px 416px #98bfff, 4px 186px #98bfff, 1399px 41px #98bfff,
		535px 1999px #98bfff, 564px 1859px #98bfff, 1288px 309px #98bfff,
		863px 1579px #98bfff, 1924px 602px #98bfff, 1711px 11px #98bfff,
		1885px 1905px #98bfff, 1386px 55px #98bfff, 1294px 928px #98bfff,
		1344px 69px #98bfff, 1475px 489px #98bfff, 1464px 1551px #98bfff,
		625px 1262px #98bfff, 10px 498px #98bfff, 824px 407px #98bfff,
		1075px 1693px #98bfff, 835px 1px #98bfff, 38px 108px #98bfff,
		299px 1076px #98bfff, 206px 836px #98bfff, 515px 1750px #98bfff,
		1390px 715px #98bfff, 1141px 924px #98bfff, 1080px 1965px #98bfff,
		148px 458px #98bfff, 48px 1559px #98bfff, 225px 1475px #98bfff,
		114px 1162px #98bfff, 519px 268px #98bfff, 869px 218px #98bfff,
		1789px 651px #98bfff, 1318px 1836px #98bfff, 1782px 1941px #98bfff,
		1454px 857px #98bfff, 1320px 317px #98bfff, 1033px 715px #98bfff,
		1353px 1001px #98bfff, 1350px 439px #98bfff, 1285px 1224px #98bfff,
		1430px 25px #98bfff, 744px 372px #98bfff, 349px 1176px #98bfff,
		736px 192px #98bfff, 854px 1671px #98bfff, 945px 1868px #98bfff,
		1039px 573px #98bfff, 863px 441px #98bfff, 756px 543px #98bfff,
		1979px 1437px #98bfff, 41px 284px #98bfff, 1582px 1756px #98bfff,
		132px 877px #98bfff, 850px 1434px #98bfff, 1392px 1773px #98bfff,
		1585px 1839px #98bfff, 1362px 1747px #98bfff, 1143px 132px #98bfff,
		911px 1766px #98bfff, 173px 1942px #98bfff, 830px 1890px #98bfff,
		1736px 361px #98bfff, 1665px 435px #98bfff, 1647px 213px #98bfff,
		1630px 897px #98bfff, 1289px 1163px #98bfff, 358px 1237px #98bfff,
		1685px 1837px #98bfff, 297px 1591px #98bfff, 65px 1813px #98bfff,
		854px 469px #98bfff, 1108px 748px #98bfff, 1909px 123px #98bfff,
		1238px 1505px #98bfff, 454px 758px #98bfff, 255px 425px #98bfff,
		1586px 343px #98bfff, 1319px 1684px #98bfff, 128px 1188px #98bfff,
		735px 1603px #98bfff, 1515px 409px #98bfff, 515px 1364px #98bfff,
		299px 1794px #98bfff, 680px 1517px #98bfff, 178px 1982px #98bfff,
		336px 359px #98bfff, 1551px 536px #98bfff, 470px 558px #98bfff,
		736px 1546px #98bfff, 1054px 1686px #98bfff, 999px 408px #98bfff,
		448px 1105px #98bfff, 61px 1557px #98bfff, 1795px 1819px #98bfff,
		741px 1255px #98bfff, 1667px 559px #98bfff, 925px 349px #98bfff,
		1817px 1695px #98bfff, 1983px 101px #98bfff, 1256px 701px #98bfff,
		126px 1861px #98bfff, 550px 1649px #98bfff, 1807px 1778px #98bfff,
		298px 1761px #98bfff, 594px 1596px #98bfff, 1964px 651px #98bfff,
		429px 1889px #98bfff, 1574px 1368px #98bfff, 623px 104px #98bfff,
		1686px 436px #98bfff, 793px 50px #98bfff, 860px 598px #98bfff,
		600px 1831px #98bfff;
}

.stars_2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1695px 580px #98bfff, 236px 881px #98bfff, 771px 1592px #98bfff,
		100px 550px #98bfff, 1962px 675px #98bfff, 448px 607px #98bfff,
		799px 705px #98bfff, 1683px 642px #98bfff, 1807px 462px #98bfff,
		843px 53px #98bfff, 684px 424px #98bfff, 1910px 1478px #98bfff,
		1417px 291px #98bfff, 1876px 842px #98bfff, 1341px 1961px #98bfff,
		494px 248px #98bfff, 1643px 436px #98bfff, 1343px 442px #98bfff,
		991px 1888px #98bfff, 1306px 1639px #98bfff, 236px 705px #98bfff,
		1692px 86px #98bfff, 1630px 1298px #98bfff, 1387px 1736px #98bfff,
		207px 1669px #98bfff, 1352px 1837px #98bfff, 1386px 1384px #98bfff,
		1524px 1229px #98bfff, 907px 1788px #98bfff, 1337px 1653px #98bfff,
		101px 68px #98bfff, 1423px 579px #98bfff, 1125px 1041px #98bfff,
		327px 1429px #98bfff, 529px 934px #98bfff, 1356px 1033px #98bfff,
		339px 566px #98bfff, 1312px 314px #98bfff, 1863px 1309px #98bfff,
		753px 801px #98bfff, 135px 1172px #98bfff, 1227px 1567px #98bfff,
		228px 201px #98bfff, 72px 1941px #98bfff, 976px 1644px #98bfff,
		157px 1251px #98bfff, 1397px 1466px #98bfff, 147px 981px #98bfff,
		204px 922px #98bfff, 519px 1082px #98bfff, 532px 1031px #98bfff,
		968px 1851px #98bfff, 1746px 69px #98bfff, 389px 1573px #98bfff,
		123px 1948px #98bfff, 79px 202px #98bfff, 1787px 1659px #98bfff,
		377px 368px #98bfff, 360px 969px #98bfff, 1017px 1821px #98bfff,
		671px 1505px #98bfff, 1374px 515px #98bfff, 465px 1217px #98bfff,
		974px 602px #98bfff, 386px 959px #98bfff, 845px 14px #98bfff,
		154px 1866px #98bfff, 314px 1313px #98bfff, 1474px 1544px #98bfff,
		1221px 290px #98bfff, 437px 1124px #98bfff, 651px 707px #98bfff,
		743px 40px #98bfff, 642px 232px #98bfff, 943px 881px #98bfff,
		686px 190px #98bfff, 39px 676px #98bfff, 1434px 1468px #98bfff,
		690px 726px #98bfff, 166px 1649px #98bfff, 1941px 1356px #98bfff,
		982px 828px #98bfff, 1620px 770px #98bfff, 1424px 1841px #98bfff,
		1316px 718px #98bfff, 121px 1635px #98bfff;
}

.stars_2:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1695px 580px #98bfff, 236px 881px #98bfff, 771px 1592px #98bfff,
		100px 550px #98bfff, 1962px 675px #98bfff, 448px 607px #98bfff,
		799px 705px #98bfff, 1683px 642px #98bfff, 1807px 462px #98bfff,
		906px 942px #98bfff, 606px 1899px #98bfff, 834px 825px #98bfff,
		1430px 1985px #98bfff, 66px 564px #98bfff, 313px 587px #98bfff,
		1093px 594px #98bfff, 1935px 1779px #98bfff, 886px 1615px #98bfff,
		313px 841px #98bfff, 371px 375px #98bfff, 594px 417px #98bfff,
		548px 1523px #98bfff, 393px 1955px #98bfff, 1780px 1810px #98bfff,
		892px 880px #98bfff, 230px 1508px #98bfff, 1044px 1306px #98bfff,
		1705px 1300px #98bfff, 1861px 1069px #98bfff, 437px 219px #98bfff,
		1463px 844px #98bfff, 1194px 3px #98bfff, 1099px 52px #98bfff,
		843px 53px #98bfff, 684px 424px #98bfff, 1910px 1478px #98bfff,
		1417px 291px #98bfff, 1876px 842px #98bfff, 1341px 1961px #98bfff,
		494px 248px #98bfff, 1643px 436px #98bfff, 1343px 442px #98bfff,
		991px 1888px #98bfff, 1306px 1639px #98bfff, 236px 705px #98bfff,
		699px 1318px #98bfff, 250px 300px #98bfff, 1740px 1191px #98bfff,
		683px 1610px #98bfff, 1832px 1912px #98bfff, 600px 742px #98bfff,
		1109px 619px #98bfff, 466px 443px #98bfff, 334px 1593px #98bfff,
		604px 931px #98bfff, 1363px 1741px #98bfff, 1080px 68px #98bfff,
		1852px 707px #98bfff, 1665px 238px #98bfff, 1174px 1411px #98bfff,
		1353px 576px #98bfff, 1546px 1153px #98bfff, 1741px 1184px #98bfff,
		1692px 86px #98bfff, 1630px 1298px #98bfff, 1387px 1736px #98bfff,
		207px 1669px #98bfff, 1352px 1837px #98bfff, 1386px 1384px #98bfff,
		1524px 1229px #98bfff, 907px 1788px #98bfff, 1337px 1653px #98bfff,
		101px 68px #98bfff, 1423px 579px #98bfff, 1125px 1041px #98bfff,
		327px 1429px #98bfff, 529px 934px #98bfff, 1356px 1033px #98bfff,
		339px 566px #98bfff, 1312px 314px #98bfff, 1863px 1309px #98bfff,
		753px 801px #98bfff, 135px 1172px #98bfff, 1227px 1567px #98bfff,
		1565px 505px #98bfff, 1921px 18px #98bfff, 221px 1132px #98bfff,
		297px 641px #98bfff, 808px 683px #98bfff, 1680px 1664px #98bfff,
		738px 526px #98bfff, 627px 436px #98bfff, 237px 718px #98bfff,
		236px 599px #98bfff, 1828px 1250px #98bfff, 1762px 1818px #98bfff,
		1310px 1470px #98bfff, 1557px 422px #98bfff, 742px 590px #98bfff,
		1591px 419px #98bfff, 231px 1709px #98bfff, 801px 100px #98bfff,
		460px 1745px #98bfff, 1434px 563px #98bfff, 59px 191px #98bfff,
		1432px 605px #98bfff, 1340px 947px #98bfff, 1611px 407px #98bfff,
		1202px 553px #98bfff, 1999px 72px #98bfff, 762px 910px #98bfff,
		1838px 1177px #98bfff, 1085px 1563px #98bfff, 1779px 770px #98bfff,
		140px 288px #98bfff, 735px 829px #98bfff, 1686px 152px #98bfff,
		96px 1501px #98bfff, 420px 1735px #98bfff, 1428px 1899px #98bfff,
		1893px 20px #98bfff, 1902px 1607px #98bfff, 856px 1212px #98bfff,
		459px 853px #98bfff, 1217px 1719px #98bfff, 24px 691px #98bfff,
		453px 1156px #98bfff, 1305px 689px #98bfff, 393px 300px #98bfff,
		319px 1288px #98bfff, 263px 517px #98bfff, 577px 924px #98bfff,
		974px 602px #98bfff, 386px 959px #98bfff, 845px 14px #98bfff,
		154px 1866px #98bfff, 314px 1313px #98bfff, 1474px 1544px #98bfff,
		1221px 290px #98bfff, 437px 1124px #98bfff, 651px 707px #98bfff,
		743px 40px #98bfff, 642px 232px #98bfff, 943px 881px #98bfff,
		686px 190px #98bfff, 39px 676px #98bfff, 1434px 1468px #98bfff,
		690px 726px #98bfff, 166px 1649px #98bfff, 1941px 1356px #98bfff,
		982px 828px #98bfff, 1620px 770px #98bfff, 1424px 1841px #98bfff,
		1316px 718px #98bfff, 121px 1635px #98bfff;
}

.stars_3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 765px 1886px #98bfff, 1525px 1098px #98bfff, 1670px 407px #98bfff,
		911px 163px #98bfff, 1971px 1489px #98bfff, 970px 1907px #98bfff,
		1598px 1440px #98bfff, 1501px 752px #98bfff, 395px 1478px #98bfff,
		1825px 706px #98bfff, 1238px 61px #98bfff, 1428px 1224px #98bfff,
		1877px 837px #98bfff, 1221px 1006px #98bfff, 991px 790px #98bfff,
		1097px 1714px #98bfff, 523px 745px #98bfff, 649px 73px #98bfff,
		508px 1267px #98bfff, 1269px 1045px #98bfff, 1989px 1582px #98bfff,
		1989px 1540px #98bfff, 617px 889px #98bfff, 1568px 1939px #98bfff,
		476px 1720px #98bfff, 1825px 1418px #98bfff, 1384px 76px #98bfff,
		1768px 658px #98bfff, 219px 596px #98bfff, 1354px 860px #98bfff,
		1657px 1219px #98bfff, 1595px 604px #98bfff, 1395px 1940px #98bfff,
		164px 1879px #98bfff, 886px 1680px #98bfff, 333px 1673px #98bfff,
		319px 1687px #98bfff, 532px 854px #98bfff, 1104px 1995px #98bfff,
		822px 1677px #98bfff, 1865px 776px #98bfff, 1983px 1189px #98bfff,
		270px 839px #98bfff, 34px 286px #98bfff, 1647px 1192px #98bfff,
		190px 287px #98bfff, 1506px 510px #98bfff, 1981px 1949px #98bfff,
		457px 1290px #98bfff, 1761px 998px #98bfff, 1951px 1056px #98bfff,
		1788px 1929px #98bfff, 1000px 1592px #98bfff, 441px 407px #98bfff,
		739px 493px #98bfff, 1201px 161px #98bfff, 963px 158px #98bfff,
		1683px 1003px #98bfff, 1649px 190px #98bfff, 857px 1519px #98bfff,
		1367px 640px #98bfff, 372px 722px #98bfff, 661px 1335px #98bfff,
		293px 793px #98bfff, 1615px 229px #98bfff, 261px 1400px #98bfff,
		1683px 1206px #98bfff, 1617px 467px #98bfff, 1569px 1323px #98bfff,
		684px 1203px #98bfff;
}

.stars_3:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 765px 1886px #98bfff, 1525px 1098px #98bfff, 1670px 407px #98bfff,
		911px 163px #98bfff, 1971px 1489px #98bfff, 970px 1907px #98bfff,
		1598px 1440px #98bfff, 1501px 752px #98bfff, 395px 1478px #98bfff,
		1825px 706px #98bfff, 1238px 61px #98bfff, 1428px 1224px #98bfff,
		1877px 837px #98bfff, 1221px 1006px #98bfff, 991px 790px #98bfff,
		462px 653px #98bfff, 834px 1940px #98bfff, 929px 1632px #98bfff,
		656px 1397px #98bfff, 651px 320px #98bfff, 907px 66px #98bfff,
		518px 48px #98bfff, 787px 1816px #98bfff, 1856px 700px #98bfff,
		875px 855px #98bfff, 1445px 630px #98bfff, 1981px 1984px #98bfff,
		1659px 790px #98bfff, 293px 382px #98bfff, 1662px 106px #98bfff,
		1097px 1714px #98bfff, 523px 745px #98bfff, 649px 73px #98bfff,
		508px 1267px #98bfff, 1269px 1045px #98bfff, 1989px 1582px #98bfff,
		1989px 1540px #98bfff, 617px 889px #98bfff, 1568px 1939px #98bfff,
		476px 1720px #98bfff, 1825px 1418px #98bfff, 1384px 76px #98bfff,
		1768px 658px #98bfff, 219px 596px #98bfff, 1354px 860px #98bfff,
		1657px 1219px #98bfff, 1595px 604px #98bfff, 1395px 1940px #98bfff,
		164px 1879px #98bfff, 886px 1680px #98bfff, 333px 1673px #98bfff,
		319px 1687px #98bfff, 532px 854px #98bfff, 1104px 1995px #98bfff,
		822px 1677px #98bfff, 1865px 776px #98bfff, 1983px 1189px #98bfff,
		270px 839px #98bfff, 34px 286px #98bfff, 1647px 1192px #98bfff,
		190px 287px #98bfff, 1506px 510px #98bfff, 1981px 1949px #98bfff,
		457px 1290px #98bfff, 1761px 998px #98bfff, 1951px 1056px #98bfff,
		1788px 1929px #98bfff, 1000px 1592px #98bfff, 441px 407px #98bfff,
		739px 493px #98bfff, 1201px 161px #98bfff, 963px 158px #98bfff,
		1683px 1003px #98bfff, 1649px 190px #98bfff, 857px 1519px #98bfff,
		240px 442px #98bfff, 1177px 725px #98bfff, 1167px 545px #98bfff,
		790px 837px #98bfff, 1619px 1518px #98bfff, 140px 1863px #98bfff,
		502px 1064px #98bfff, 863px 560px #98bfff, 820px 398px #98bfff,
		1374px 834px #98bfff, 1285px 1250px #98bfff, 918px 1863px #98bfff,
		1111px 1610px #98bfff, 855px 1113px #98bfff, 1193px 1112px #98bfff,
		1367px 640px #98bfff, 372px 722px #98bfff, 661px 1335px #98bfff,
		293px 793px #98bfff, 1615px 229px #98bfff, 261px 1400px #98bfff,
		1683px 1206px #98bfff, 1617px 467px #98bfff, 1569px 1323px #98bfff,
		684px 1203px #98bfff;
}
